#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url(https://awskidsimages.s3.us-east-2.amazonaws.com/34101031_rm251-mind-08-e.jpg) !important;
  background-size:100%;
  background-color: rgb(0, 16, 236);
  background-attachment: fixed;
}
.App-header {

  display: flex;
  flex-direction: column;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #9761fbaa);
}

.App {
  min-height: 100vh;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html, body, #root {
  min-height: 100vh;
  border-radius: 100px;
  background-repeat: no-repeat;
border-radius: 0%;
}
