.chapter-bar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
    font-weight: 700;
  }
  
  .chapter-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #00013d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .chapter-button:hover {
    background-color: #357ab8;
  }