.quiz-container {
    padding: 2rem;
    margin-top: 2rem;
   width: 50%;
    text-align: center;
    align-self: center;
    background-image: url(https://awskidsimages.s3.us-east-2.amazonaws.com/1777801_7458.jpg);
    border-radius: 40px;
  }
  
  .quiz-container button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: #200046;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .quiz-container button:hover {
    background-color: #9656d1;
  }
  
  .quiz-results {
    font-size: 1.5rem;
    color: #333;
  }
  